/* after要素tailwindで利用可か要検討 */

.h2 {
  font-size: 60px;
  width: 400px;
  height: 100px;
  background-color: #de9044;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  border-radius: 50px;
  position: relative;
  margin-top: -325px;
}
.h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #de9044 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}
.h2 svg {
  filter: brightness(0) invert(1);
  margin-right: 10px;
}
